<br>
<div class="center borde">
<form (ngSubmit)="modify(contactForm.value)" #contactForm="ngForm">
  <div class="mb-4">
      <label for="productID" class="form-label">productID</label>
      <input readonly type="number" class="form-control" id="productID" name="productID" [(ngModel)] = "parameters.productID" required #productID = "ngModel">
      <div  [hidden]="productID.valid || productID.pristine" class="alert alert-danger">This field is required.</div>
  </div>
  <div class="mb-4">
    <label for="name" class="form-label">product name</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)] = "parameters.name" required #name = "ngModel">
    <div  [hidden]="name.valid || name.pristine" class="alert alert-danger">This field is required.</div>
  </div>
  <div class="mb-4">
    <label for="price" class="form-label">price</label>
    <input type="number" class="form-control" id="price" name="price" [(ngModel)] = "parameters.price" required #price = "ngModel">
    <div  [hidden]="price.valid || price.pristine" class="alert alert-danger">This field is required.</div>
  </div>
  
  <div class="d-grid col-4 gap-2 float-end">
      <button type="submit" class="btn btn-info btn-lg" [disabled]="contactForm.invalid">Modify</button>
  </div>
</form>
<br><br>
<a [routerLink]="['']"> Home </a><br>
<pre>{{contactForm.value | json}}</pre>
</div>
